<div [ngClass]="{'flex flex-col justify-between m-10 w-56 h-48 rounded-2xl': true,
'bg-fuchsia-800': color === 'purple',
'bg-red-500': color === 'red',
'bg-green-600': color === 'green',
'bg-blue-500': color === 'blue'}">

  <div class="flex flex-col place-content-evenly items-center text-2xl text-white font-bold h-full">
    <span>{{statName}}</span>
    <span>{{stat}}</span>
  </div>

  <div [ngClass]="{'h-14 rounded-b-2xl flex items-center justify-center': true,
  'bg-fuchsia-500': color === 'purple',
  'bg-red-300': color === 'red',
  'bg-green-400': color === 'green',
  'bg-blue-400': color ==='blue'}">
    <button class="text-xl font-bold text-white" (click)="onClick()">Afficher les details</button>
  </div>
</div>
