<nav class="min-w-full bg-blue-700 h-14 shadow-gray-700 shadow-md flex flex-row justify-between items-center">
  <button (click)="toggleMenu()"
          [ngClass]="{'bg-white rounded-md w-10 h-10 mx-4 my-2': true,
              'translate-x-56' : sideBarIsOpen}">
    <svg *ngIf="!sideBarIsOpen" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="m-0.5" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
    <svg *ngIf="sideBarIsOpen" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="m-0.5" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
  </button>
  <a routerLink="/" id="title" class="text-white text-2xl font-bold p-2 m-5">Centre de formation 9 Avril</a>
  <button routerLink="/login" class="px-5 py-2 m-5 bg-white rounded-full shadow-md">Login</button>
</nav>
