<div
[ngClass]="{'fixed pt-5 top-0 left-0 min-h-full w-56 bg-blue-700 shadow shadow-black shadow-2xl': true,
'hidden': !isOpen}">

  <div class="flex flex-row items-center">
    <div class="relative w-10 h-10 ml-4 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
      <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
      </svg>
    </div>
<!--    <span class="bg-white p-3 self-center ml-3  rounded-full text-black w-fit">{{stagiaire.prenom}} {{stagiaire.nom}}</span>-->
  </div>

  <app-menu-item routerLink="" (click)="closeMenu()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
    Acceuil
  </app-menu-item>
  <app-menu-item *ngIf="role == 'ROLE_ADMINISTRATEUR' || role == 'ROLE_S_SCOLARITE'" routerLink="/matieres" (click)="closeMenu()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path></svg>
    Matieres
  </app-menu-item>
  <app-menu-item *ngIf="role == 'ROLE_ADMINISTRATEUR' || role == 'ROLE_S_STAGIAIRE'" routerLink="/groupes" (click)="closeMenu()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
    Groupes
  </app-menu-item>
  <app-menu-item *ngIf="role == 'ROLE_ADMINISTRATEUR' || role == 'ROLE_S_SCOLARITE'" routerLink="/seances" (click)="closeMenu()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path></svg>
    Seances
  </app-menu-item>
  <app-menu-item *ngIf="role == 'ROLE_ADMINISTRATEUR' || role == 'ROLE_S_SCOLARITE'" routerLink="/formateurs" (click)="closeMenu()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"></path></svg>
    Formateurs
  </app-menu-item>
  <app-menu-item *ngIf="role == 'ROLE_ADMINISTRATEUR' || role == 'ROLE_S_STAGIAIRE'" routerLink="/stagiaires" (click)="closeMenu()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
    Stagiaires
  </app-menu-item>
  <app-menu-item *ngFor="let seance of seances" [routerLink]="'/seance/'+seance.id" (click)="closeMenu()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path></svg>
    {{seance.groupe.nom}} {{seance.matiere.nom}}</app-menu-item>
  <app-menu-item *ngIf="role == 'ROLE_STAGIAIRE'" routerLink="/suivi">Suivi</app-menu-item>
  <app-menu-item *ngIf="role == 'ROLE_ADMINISTRATEUR'" routerLink="/admin/historique">Historique</app-menu-item>
</div>
